wheel==0.38.1
setuptools==65.5.1
PyYAML==5.4.1
certifi==2022.12.7
chardet==4.0.0
Click==8.0.1
Flask==2.0.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.22.0
psycopg2-binary==2.9.1
PuLP==2.5.0
pyparsing==2.4.7
redis==4.5.3
requests==2.26.0
urllib3==1.26.6
uWSGI==2.0.19.1
Werkzeug==2.0.1
waitress==2.1.2
pydevd-pycharm==212.5080.18
deprecation==2.1.0
PyJWT==2.4.0