wheel==0.35.1
setuptools==50.3.2
PyYAML==5.3.1
certifi==2020.11.8
chardet==3.0.4
Click==7.0
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.18.1
psycopg2-binary==2.8.6
PuLP==2.3
pyparsing==2.4.6
redis==3.5.3
requests==2.24.0
urllib3==1.25.10
uWSGI==2.0.18
Werkzeug==1.0.1
waitress==1.4.4
pydevd-pycharm==202.7660.27
deprecation==2.1.0