{% extends 'base.html' %}

{% block content %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>

  <h4>Найденные значения параметров</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        {% for item in meta_data.get_alfa_len() %}
          <th scope="col">a{{ item }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for task in meta_data.results %}
        <tr>
          <th scope="row">{{ task[0] }}</th>
          {% for item in task[1][0] %}
            <td>{{ '{:.3f}'.format(item) }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h4>Ошибки аппроксимации</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        {% for item in meta_data.get_work_data_rows_len() %}
          <th scope="col">{{ item }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for task in meta_data.results %}
        <tr>
          <th scope="row">{{ task[0] }}</th>
          {% for item in task[1][1] %}
            <td>{{ '{:.3f}'.format(item) }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h4>Расчётные значения зависимой переменной</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
          {% for item in meta_data.get_work_data_rows_len() %}
            <th scope="col">{{ item }}</th>
          {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for task in meta_data.results %}
        <tr>
          <th scope="col">{{ task[0] }}</th>
          {% for item in task[1][3] %}
            <td>{{ '{:.3f}'.format(item) }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      <tr>
        <th scope="col">y</th>
        {% for item in meta_data.y() %}
          <td>{{ item }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>

  <h4>Критерии</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">E</th>
        <th scope="col">M</th>
        <th scope="col">K</th>
        <th scope="col">O</th>
        <th scope="col">Ф</th>
        <th scope="col">Оценка критерия смещения</th>
      </tr>
    </thead>
    <tbody>
      {% for task in meta_data.results %}
        <tr>
          <th scope="row">{{ task[0] }}</th>
            {% for item in task[1][2] %}
              <td>{{ '{:.2f}'.format(item) }}</td>
            {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <p>E - средние относительные ошибки аппроксимации.</p>
    <p>M - сумма модулей ошибок.</p>
    <p>K - сумма квадратов ошибок.</p>
    <p>O - максимальная по модулю ошибка.</p>
    <p>Ф - обобщенный критерий согласованности поведения</p>
  </div>

  {% if meta_data.mco %}
    <h4>Индексы подвыборок N<sub>1</sub> N<sub>2</sub></h4>
    <div class="card" style="width: content-box;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">N<sub>1</sub>: {% for item in meta_data.h1 %} {{ item|int + 1 }} {% endfor %}</li>
        <li class="list-group-item">N<sub>2</sub>: {% for item in meta_data.h2 %} {{ item|int + 1 }} {% endfor %}</li>
      </ul>
    </div>
  {% endif %}

  </br>
  <figure class="highcharts-figure">
    <div id="container"></div>
  </figure>

  <script>
      Highcharts.chart('container', {
          title: {
              text: 'Фактические и расчетные значения зависимой переменной'
          },

          yAxis: {
              title: {
                  text: 'Значения'
              }
          },

          xAxis: {
              title: {
                  text: 'Номера наблюдений'
              },
              accessibility: {
                  rangeDescription: 'Номера наблюдений'
              }
          },

          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle'
          },

          plotOptions: {
              series: {
                  label: {
                      connectorAllowed: false
                  },
                  {#pointStart: 2010#}
              }
          },

          tooltip: {
              pointFormat: '<p style="color:{series.color};font-weight: bold">{series.name}</p>  {point.y:.3f}'
          },

          series: [
              {
                  name: 'y',
                  data: {{ meta_data.y() }}
              },
              {% for task in meta_data.results %}
                  {
                      name: '{{ task[0] }}',
                      data: {{ task[1][3] }}
                  },
              {% endfor %}
          ],

          responsive: {
              rules: [{
                  condition: {
                      maxWidth: 500
                  },
                  chartOptions: {
                      legend: {
                          layout: 'horizontal',
                          align: 'center',
                          verticalAlign: 'bottom'
                      }
                  }
              }]
          }
      });

  </script>

{% endblock %}
