<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
  <meta charset="UTF-8">

  <title>Решение регрессионных уравнений</title>
</head>
<body>
<!-- Выпадающее меню -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">Основное меню</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/load">Загрузить исходные данные</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if not meta_data.load_matrix_id %}disabled{% endif %}" href="/matrix">Загруженная матрица</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if not meta_data.index_y %}disabled{% endif %}" href="/div">Разделить матрицу</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/answer">Результаты решения</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if not meta_data.matrix_y_index %}disabled{% endif %}" href="/biasEstimates">Оценки критерия смещения</a>
  </li>
</ul>

<div class="py-3 px-lg-5">
<h4>Найденные значения параметра</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      {% for item in aLen %}
        <th scope="col">a{{ item }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for task in data.results %}
      <tr>
        <th scope="row">{{ task[0] }}</th>
        {% for item in task[1][0] %}
          <td>{{ '{:.3f}'.format(item) }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<h4>Ошибки аппроксимации</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      {% for item in epsLen %}
        <th scope="col">{{ item }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for task in data.results %}
      <tr>
        <th scope="row">{{ task[0] }}</th>
        {% for item in task[1][1] %}
          <td>{{ '{:.3f}'.format(item) }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<h4>Среднии относительные ошибки аппроксимации</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">E</th>
    </tr>
  </thead>
  <tbody>
    {% for task in data.results %}
      <tr>
        <th scope="row">{{ task[0] }}</th>
          <td>{{ '{:.2f}'.format(task[1][2]) }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>