<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
  <meta charset="UTF-8">

  <title>Решение регрессионных уравнений</title>

  {% block script %}
  {% endblock %}
</head>
<body>
  <!-- Выпадающее меню -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if meta_data.menu_active_main %}active{% endif %}" href="/">Основное меню</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if meta_data.menu_active_load %}active{% endif %} {% if meta_data.menu_lock_load %}disabled{% endif %}" href="/load">Загрузить исходные данные</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if meta_data.menu_active_data %}active{% endif %} {% if meta_data.menu_lock_data %}disabled{% endif %}" href="/matrix">Загруженная матрица</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if meta_data.menu_active_div %}active{% endif %} {% if meta_data.menu_lock_div %}disabled{% endif %}" href="/div">Разделить матрицу</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if meta_data.menu_active_answer %}active{% endif %} {% if meta_data.menu_lock_answer %}disabled{% endif %}" href="/answer">Результаты решения</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if meta_data.menu_active_bias %}active{% endif %} {% if meta_data.menu_lock_bias %}disabled{% endif %}" href="/biasEstimates">Оценки критерия смещения</a>
    </li>
  </ul>

  <div class="py-3 px-lg-5">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>