<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
  <meta charset="UTF-8">

  <title>Решение регрессионных уравнений</title>
</head>
<body>
<!-- Выпадающее меню -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">Основное меню</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/load">Загрузить исходные данные</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if not meta_data.load_matrix_id %}disabled{% endif %}" href="/matrix">Загруженная матрица</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if not meta_data.index_y %}disabled{% endif %}" href="/div">Разделить матрицу</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if not meta_data.answer == True %}disabled{% endif %}" href="/answer">Результаты решения</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/biasEstimates">Оценки критерия смещения</a>
  </li>
</ul>

<div class="py-3 px-lg-5">

{% if auto %}
    <br><br>
    <form action="/biasEstimates" method="post">
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="filter">Фильтр</label>
      <select class="custom-select mr-sm-2" id="filter" name="filter">
        <option {% if params.filterId == 0 %}selected {% endif %} value="0">20 результатов</option>
        <option {% if params.filterId == 1 %}selected {% endif %} value="1">40 результатов</option>
        <option {% if params.filterId == 2 %}selected {% endif %} value="2">100 результатов</option>
        <option {% if params.filterId == 3 %}selected {% endif %} value="3">1000 результатов</option>
      </select>
    </div>

    <div class="col-auto my-1">
      <label class="mr-sm-2" for="sorting">Сортировать по</label>
      <select class="custom-select mr-sm-2" id="sorting" name="sorting">
        <option {% if params.sortingId == 0 %}selected {% endif %} value="0">оценке критерию смещения (по убыванию)</option>
        <option {% if params.sortingId == 1 %}selected {% endif %} value="1">оценке критерию смещения (по возрастанию)</option>
        <option {% if params.sortingId == 2 %}selected {% endif %} value="2">E (по убыванию)</option>
        <option {% if params.sortingId == 3 %}selected {% endif %} value="3">E (по возрастанию)</option>
      </select>
    </div>

    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Применить</button>
    </div>
  </div>
</form>
    <br/>
    <table class="table table-sm table-striped table-bordered">
    <thead> <!-- Column names -->
      <tr>
          <th scope="col">#</th>
          <th scope="col">alfa</th>
          <th scope="col">eps</th>
          <th scope="col">E</th>
          <th scope="col">Оценка критерия смещения</th>
          <th scope="col">N1</th>
          <th scope="col">N2</th>
      </tr>
    </thead>
    <tbody> <!-- Data -->
      {% for index in resLen %}
        <tr>
          <th scope="row">{{ index }}</th>
          {% for item in res[index] %}
            <td>{{item}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
