{% extends 'base.html' %}

{% block content %}
  {% if bias.data and meta_data.is_done_bias_estimates %}
    <br><br>
    <form action="/form/bias_filter_1" method="post">
      <div class="form-row align-items-center">
        <div class="col-auto my-1">
          <label class="mr-sm-2" for="filter">Фильтр</label>
          <select class="custom-select mr-sm-2" id="filter" name="filter">
            <option {% if bias.filter == "TEN" %}selected {% endif %} value="TEN">10 результатов</option>
            <option {% if bias.filter == "FIFTY" %}selected {% endif %} value="FIFTY">50 результатов</option>
            <option {% if bias.filter == "ONE_HUNDRED" %}selected {% endif %} value="ONE_HUNDRED">100 результатов</option>
            <option {% if bias.filter == "ONE_THOUSAND" %}selected {% endif %} value="ONE_THOUSAND">1000 результатов</option>
          </select>
        </div>

        <div class="col-auto my-1">
          <label class="mr-sm-2" for="sorting">Сортировать по</label>
          <select class="custom-select mr-sm-2" id="sorting" name="sorting">
            <option {% if bias.sorting == "F_max" %}selected {% endif %} value="F_max">оценке критерию смещения (по убыванию)</option>
            <option {% if bias.sorting == "F_min" %}selected {% endif %} value="F_min">оценке критерию смещения (по возрастанию)</option>
            <option {% if bias.sorting == "E_max" %}selected {% endif %} value="E_max">E (по убыванию)</option>
            <option {% if bias.sorting == "E_min" %}selected {% endif %} value="E_min">E (по возрастанию)</option>
          </select>
        </div>

        <div class="col-auto my-1">
          <button type="submit" class="btn btn-primary">Применить</button>
        </div>
      </div>
    </form>
    <br/>
    <table class="table table-sm table-striped table-bordered">
      <thead> <!-- Column names -->
        <tr>
          <th scope="col">#</th>
          <th scope="col">alfa</th>
          <th scope="col">eps</th>
          <th scope="col">E</th>
          <th scope="col">Оценка критерия смещения</th>
          <th scope="col">N<sub>1</sub></th>
          <th scope="col">N<sub>2</sub></th>
        </tr>
      </thead>
      <tbody> <!-- Data -->
        {% for index in bias.get_len_data_indexes() %}
          <tr id="biasEstimatesRow_{{ index }}">
            <th scope="row">{{ index }}</th>
            {% for item in bias.data[index-1] %}
              <td>{{item}}</td>
            {% endfor %}
            <th>
              <button value="{{ index }}" type="button" class="btn btn-primary" onclick="getValuesForH1H2(this)">Применить</button>
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
