<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
  <meta charset="UTF-8">

  <title>Решение регрессионных уравнений</title>

 {% if isRun == True %}
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript">
       function funonload() {
           let timerId = setInterval(check, 3000);
       }
window.onload = funonload;
</script>
 {% endif %}
</head>
<body>
<!-- Выпадающее меню -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">Основное меню</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/load">Загрузить исходные данные</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if not meta_data.load_matrix_id %}disabled{% endif %}" href="/matrix">Загруженная матрица</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/div">Разделить матрицу</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if not meta_data.answer == True %}disabled{% endif %}" href="/answer">Результаты решения</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/biasEstimates">Оценки критерия смещения</a>
  </li>
</ul>

<div class="py-3 px-lg-5">

{% if not verification %}
    <div class="p-3 mb-2 bg-danger text-white">Внимание! Длина N1 и N2 должна быть больше, чем количество параметров. Загрузите другие данные!</div>
    <br/>
{% endif %}

{% if xLen %}
    {% if h1 and h2 %}
        <div class="container">
          <div class="row">
            <div class="col-sm">
            <h3>N1</h3>
              <div id="l_group" class="list-group">
                {% for item in h1 %}
                  <button id="l_{{item}}" onclick="lbtn(this)" type="button" class="list-group-item list-group-item-action" value="{{item}}">{{item + 1}}</button>
                {% endfor %}
              </div>
            </div>
           <div class="col-sm">
           </div>
              <div class="col-sm">
              <h3>N2</h3>
              <div id="r_group" class="list-group">
                  {% for item in h2 %}
                    <button id="r_{{item}}" onclick="lbtn(this)" type="button" class="list-group-item list-group-item-action" value="{{item}}">{{item + 1}}</button>
                  {% endfor %}
              </div>
              </div>
          </div>
        </div>

    {% else %}
        <div class="container">
  <div class="row">
    <div class="col-sm">
    <h3>N1</h3>
      <div id="l_group" class="list-group">
        {% for item in xLen %}
        <button id="l_{{item-1}}" onclick="lbtn(this)" type="button" class="list-group-item list-group-item-action" value="{{item-1}}">{{item}}</button>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <h3>N2</h3>
      <div id="r_group" class="list-group">
      </div>
    </div>
  </div>
</div>
    {% endif %}

<br/><br/>
<a class="btn btn-primary" href="/auto" role="button">Посчитать оценки критерия смещения</a>

<button type="button" class="btn btn-primary" onclick="autoRender(this)">Автоматически распределить N1,N2</button>

<button type="button" class="btn btn-primary" onclick="send(this)">Готово</button>

<a id="btn_answer" class="btn btn-primary" href="/answer" role="button" hidden="true">Получить решение</a>

{% if isRun == True %}
    <br/><br/>
    <div class="alert alert-primary" role="alert">
        Идёт вычисление оценки критерия смещения. Пожалуйста, подождите!
    </div>
    <div id="block-load-animation" class="d-flex justify-content-center">
        <div class="spinner-border" role="status" aria-hidden="true"></div>
        <h2 style="text-indent: 20px" id="count">0</h2><h2>%</h2>
    </div>
    <br/>
    <div class="d-flex justify-content-center">
        <a id="showRes" class="btn btn-success" href="/div" hidden="true" role="button">Показать результаты вычислений</a>
    </div>

    <script type="text/javascript">
        function updateCount(count)
        {
            document.getElementById("count").innerText = count;
        }

        function showButton(status)
        {
            if (status.indexOf('done') !== -1)
            {
                document.getElementById("block-load-animation").remove()
                document.getElementById("showRes").removeAttribute("hidden");
            }
        }

        function isDone()
        {
            return document.getElementById("showRes").getAttribute("hidden");
        }

        function check(event) {
            if (isDone())
            {
                var xhr = new XMLHttpRequest();

                xhr.open('POST', '/checkProgress', false);

                xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');

                xhr.onloadend = function() {
                    if (xhr.status == 200)
                    {
                        var myArr = JSON.parse(xhr.responseText);
                        updateCount(myArr['count']);
                        showButton(myArr['status']);
                    }
                    else
                        alert('Что-то пошло не так!');
                };

                xhr.send();
            }
          }
    </script>
{% elif isRun == False %}
    <br/><br/>
    <div class="alert alert-warning" role="alert">
        Вычисление оценки критерия смещения временно не возможно, все вычислительные потоки заняты.
        Пожалуйста, повторите попытку позже!
    </div>
{% endif %}

{% if auto %}
    <br/><br/>
{#    <div class="btn-group" role="group">#}
{#    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#      Сортировка#}
{#    </button>#}
{#    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">#}
{#      <a class="dropdown-item" href="#">Оценка смещения, по убыванию</a>#}
{#      <a class="dropdown-item" href="#">Оценка смещения, во возростанию</a>#}
{#      <a class="dropdown-item" href="#">Е, по убыванию</a>#}
{#      <a class="dropdown-item" href="#">Е, во возростанию</a>#}
{#    </div>#}
{#  </div>#}

<form action="/div" method="post">
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="filter">Фильтр</label>
      <select class="custom-select mr-sm-2" id="filter" name="filter">
        <option {% if params.filterId == 0 %}selected {% endif %} value="0">20 результатов</option>
        <option {% if params.filterId == 1 %}selected {% endif %} value="1">40 результатов</option>
        <option {% if params.filterId == 2 %}selected {% endif %} value="2">100 результатов</option>
        <option {% if params.filterId == 3 %}selected {% endif %} value="3">1000 результатов</option>
      </select>
    </div>

    <div class="col-auto my-1">
      <label class="mr-sm-2" for="sorting">Сортировать по</label>
      <select class="custom-select mr-sm-2" id="sorting" name="sorting">
        <option {% if params.sortingId == 0 %}selected {% endif %} value="0">оценке критерию смещения (по убыванию)</option>
        <option {% if params.sortingId == 1 %}selected {% endif %} value="1">оценке критерию смещения (по возрастанию)</option>
        <option {% if params.sortingId == 2 %}selected {% endif %} value="2">E (по убыванию)</option>
        <option {% if params.sortingId == 3 %}selected {% endif %} value="3">E (по возрастанию)</option>
      </select>
    </div>

    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Применить</button>
    </div>
  </div>
</form>
    <br/>
    <table id="biasEstimatesTable" class="table table-sm table-striped table-bordered">
    <thead> <!-- Column names -->
      <tr>
          <th scope="col">#</th>
          <th scope="col">alfa</th>
          <th scope="col">eps</th>
          <th scope="col">E</th>
          <th scope="col">Оценка критерия смещения</th>
          <th scope="col">N1</th>
          <th scope="col">N2</th>
      </tr>
    </thead>
    <tbody> <!-- Data -->
      {% for index in resLen %}
        <tr id="biasEstimatesRow_{{ index }}">
          <th scope="row">{{ index }}</th>
          {% for item in res[index-1] %}
            <td>{{item}}</td>
          {% endfor %}
          <th>
            <button value="{{ index}}" type="button" class="btn btn-primary" onclick="getValuesForH1H2(this)">Применить</button>
          </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}


<script type="text/javascript">

  function getValuesForH1H2(event) {
    var row = document.getElementById('biasEstimatesRow_' + event.value);
    var h1 = createMassiv(row.getElementsByTagName('td')[4].innerText);
    var h2 = createMassiv(row.getElementsByTagName('td')[5].innerText);

    var r = document.getElementById('r_group');
    var l = document.getElementById('l_group');

    while (r.firstChild) {
        r.removeChild(r.lastChild);
    }
    while (l.firstChild) {
        l.removeChild(l.lastChild);
    }

    h1.forEach(item => createLElement(item));
    h2.forEach(item => createRElement(item));
  }

  function createMassiv(str) {
    var str = str.substring(1, str.length-1);
    let arrayOfString = str.split(',');
    let arrayOfInt = [];
    arrayOfString.forEach(e => arrayOfInt.push(parseInt(e) - 1));

    return arrayOfInt;
  }

  function createLElement(index) {
      var elem = document.createElement('button');
      elem.setAttribute('id', 'l_'.concat(index));
      elem.setAttribute('onclick', 'lbtn(this)');
      elem.setAttribute('type', "button");
      elem.setAttribute('class', "list-group-item list-group-item-action");
      elem.setAttribute('value', index);
      elem.innerHTML = index+1;

      document.getElementById('l_group').append(elem);
  }

  function createRElement(index) {
      var elem = document.createElement('button');
      elem.setAttribute('id', 'r_'.concat(index));
      elem.setAttribute('onclick', 'rbtn(this)');
      elem.setAttribute('type', "button");
      elem.setAttribute('class', "list-group-item list-group-item-action");
      elem.setAttribute('value', index);
      elem.innerHTML = index+1;

      document.getElementById('r_group').append(elem);
  }

  function lbtn(event){
      alert('l_'.concat(event.value));
      document.getElementById('l_'.concat(event.value)).remove();
      var elem = document.createElement('button');
      elem.setAttribute('id', 'r_'.concat(event.value));
      elem.setAttribute('onclick', 'rbtn(this)');
      elem.setAttribute('type', "button");
      elem.setAttribute('class', "list-group-item list-group-item-action");
      elem.setAttribute('value', event.value);
      elem.innerHTML = event.innerText;

      document.getElementById('r_group').append(elem);
  }

  function rbtn(event) {
      document.getElementById('r_'.concat(event.value)).remove();
      var elem = document.createElement('button');
      elem.setAttribute('id', 'l_'.concat(event.value));
      elem.setAttribute('onclick', 'lbtn(this)');
      elem.setAttribute('type', "button");
      elem.setAttribute('class', "list-group-item list-group-item-action");
      elem.setAttribute('value', event.value);
      elem.innerHTML = event.innerText;

      document.getElementById('l_group').append(elem);
  }

  function autoRender(event) {
      var r = document.getElementById('r_group').children;
      var l = document.getElementById('l_group').children;

      if (r.length == l.length || r.length-l.length == 1 || r.length-l.length == -1)
      {
          return;
      } else {
          for (var i = 0; i < l.length; i++)
          {
              lbtn(l[i]);
          }
      }
  }

  function send(event) {
    var xhr = new XMLHttpRequest();

    xhr.open('POST', '/answer', false);

    xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');

    let json = JSON.stringify({
      h1: getIndexH1(),
      h2: getIndexH2()
    });

    xhr.onloadend = function() {
        if (xhr.status == 200)
            document.getElementById('btn_answer').removeAttribute('hidden');
        else
            alert('Что-то пошло не так!');
    };

    xhr.send(json);
  }

  function getIndexH1() {
      var group = document.getElementById('l_group');

      var list = [];
      for (var i = 0; i < group.childElementCount; i++)
      {
          list.push(group.children[i].value);
      }
      return list;
  }

  function getIndexH2() {
      var group = document.getElementById('r_group');

      var list = [];
      for (var i = 0; i < group.childElementCount; i++)
      {
          list.push(group.children[i].value);
      }
      return list;
  }
</script>

{% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
