{% block script %}
  {% if meta_data.is_run_bias_estimates %}
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript">
       function funonload() {
           let timerId = setInterval(check, 3000);
       }
       window.onload = funonload;
    </script>
 {% endif %}
{% endblock %}

{% block content %}
  {% if not meta_data.verification_h() %}
    <div class="p-3 mb-2 bg-danger text-white">
      Внимание! Длина N<sub>1</sub> и N<sub>2</sub> должна быть больше, чем количество параметров. Загрузите другие данные!
    </div>
    <br/>
  {% endif %}

  {% if meta_data.x %}
    {% if meta_data.h1 and meta_data.h2 %}
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h3>N<sub>1</sub></h3>
            <div id="l_group" class="list-group">
              {% for item in meta_data.h1 %}
                <button
                    id="l_{{item}}"
                    onclick="lbtn(this)"
                    type="button"
                    class="list-group-item list-group-item-action"
                    value="{{item}}"
                >
                  {{item + 1}}
                </button>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <h3>N<sub>2</sub></h3>
            <div id="r_group" class="list-group">
              {% for item in meta_data.h2 %}
                <button
                    id="r_{{item}}"
                    onclick="lbtn(this)"
                    type="button"
                    class="list-group-item list-group-item-action"
                    value="{{item}}"
                >
                  {{item + 1}}
                </button>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    {% else %}
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h3>N<sub>1</sub></h3>
            <div id="l_group" class="list-group">
              {% for item in meta_data.get_load_data_rows_len() %}
                <button
                    id="l_{{item-1}}"
                    onclick="lbtn(this)"
                    type="button"
                    class="list-group-item list-group-item-action"
                    value="{{item-1}}"
                >
                  {{item}}
                </button>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <h3>N<sub>2</sub></h3>
            <div id="r_group" class="list-group">
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <br/><br/>
    <a class="btn btn-primary" href="/form/calculation_bias_estimates" role="button">Посчитать оценки критерия смещения</a>
    <button type="button" class="btn btn-primary" onclick="autoRender(this)">Автоматически распределить N<sub>1</sub>,N<sub>2</sub></button>
    <button type="button" class="btn btn-primary" onclick="send(this)">Получить решение</button>
{#    <a id="btn_answer" class="btn btn-primary" href="/answer" role="button" hidden="true">Получить решение</a>#}

    {% if meta_data.is_run_bias_estimates %}
      <br/><br/>
      <div class="alert alert-primary" role="alert">
        Идёт вычисление оценки критерия смещения. Пожалуйста, подождите!
      </div>
      <div id="block-load-animation" class="d-flex justify-content-center">
        <div class="spinner-border" role="status" aria-hidden="true"></div>
        <h2 style="text-indent: 20px" id="count">0</h2><h2>%</h2>
      </div>
      <br/>
      <div class="d-flex justify-content-center">
        <a id="showRes" class="btn btn-success" href="/div" hidden="true" role="button">Показать результаты вычислений</a>
      </div>

      <script type="text/javascript">
        function updateCount(count)
        {
          document.getElementById("count").innerText = count;
        }

        function showButton(status)
        {
            console.log(status)
          if (status)
          {
            document.getElementById("block-load-animation").remove()
            document.getElementById("showRes").removeAttribute("hidden");
          }
        }

        function isDone()
        {
          return document.getElementById("showRes").getAttribute("hidden");
        }

        function check(event) {
          if (isDone())
          {
            var xhr = new XMLHttpRequest();

            xhr.open('POST', '/checkProgress', false);

            xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');

            xhr.onloadend = function() {
              if (xhr.status == 200)
              {
                var myArr = JSON.parse(xhr.responseText);
                updateCount(myArr['count']);
                showButton(myArr['status']);
              }
              else
                alert('Что-то пошло не так!');
            };

            xhr.send();
          }
        }
      </script>
    {% elif meta_data.is_run_background_task == True %}
      <br/><br/>
      <div class="alert alert-warning" role="alert">
         Вычисление оценки критерия смещения временно не возможно, все вычислительные потоки заняты.
         Пожалуйста, повторите попытку позже!
      </div>
    {% endif %}

    {% if bias and meta_data.is_done_bias_estimates %}
      <br/><br/>
      <form name="biasFilter" action="/form/bias_filter" method="post">
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <label class="mr-sm-2" for="filter">Фильтр</label>
            <select class="custom-select mr-sm-2" id="filter" name="filter">
              <option {% if bias.filter == "TEN" %}selected {% endif %} value="TEN">10 результатов</option>
              <option {% if bias.filter == "FIFTY" %}selected {% endif %} value="FIFTY">50 результатов</option>
              <option {% if bias.filter == "ONE_HUNDRED" %}selected {% endif %} value="ONE_HUNDRED">100 результатов</option>
              <option {% if bias.filter == "ONE_THOUSAND" %}selected {% endif %} value="ONE_THOUSAND">1000 результатов</option>
            </select>
          </div>

          <div class="col-auto my-1">
            <label class="mr-sm-2" for="sorting">Сортировать по</label>
            <select class="custom-select mr-sm-2" id="sorting" name="sorting">
              <option {% if bias.sorting == "F_max" %}selected {% endif %} value="F_max">оценке критерию смещения (по убыванию)</option>
              <option {% if bias.sorting == "F_min" %}selected {% endif %} value="F_min">оценке критерию смещения (по возрастанию)</option>
              <option {% if bias.sorting == "E_max" %}selected {% endif %} value="E_max">E (по убыванию)</option>
              <option {% if bias.sorting == "E_min" %}selected {% endif %} value="E_min">E (по возрастанию)</option>
            </select>
          </div>

          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Применить</button>
          </div>
        </div>
      </form>
      <br/>
      <table id="biasEstimatesTable" class="table table-sm table-striped table-bordered">
        <thead> <!-- Column names -->
          <tr>
            <th scope="col">#</th>
            <th scope="col">alfa</th>
            <th scope="col">eps</th>
            <th scope="col">E</th>
            <th scope="col">Оценка критерия смещения</th>
            <th scope="col">N<sub>1</sub></th>
            <th scope="col">N<sub>2</sub></th>
          </tr>
        </thead>
        <tbody> <!-- Data -->
          {% for index in bias.get_len_data_indexes() %}
            <tr id="biasEstimatesRow_{{ index }}">
              <th scope="row">{{ index }}</th>
              {% for item in bias.data[index-1] %}
                <td>{{item}}</td>
              {% endfor %}
              <th>
                <button value="{{ index }}" type="button" class="btn btn-primary" onclick="getValuesForH1H2(this)">Применить</button>
              </th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    <script type="text/javascript">
        function getValuesForH1H2(event) {
            var row = document.getElementById('biasEstimatesRow_' + event.value);
            var h1 = createMassiv(row.getElementsByTagName('td')[4].innerText);
            var h2 = createMassiv(row.getElementsByTagName('td')[5].innerText);

            var r = document.getElementById('r_group');
            var l = document.getElementById('l_group');

            while (r.firstChild) {
                r.removeChild(r.lastChild);
            }
            while (l.firstChild) {
                l.removeChild(l.lastChild);
            }

            h1.forEach(item => createLElement(item));
            h2.forEach(item => createRElement(item));
        }

        function createMassiv(str) {
            var str = str.substring(1, str.length-1);
            let arrayOfString = str.split(',');
            let arrayOfInt = [];
            arrayOfString.forEach(e => arrayOfInt.push(parseInt(e) - 1));

            return arrayOfInt;
        }

        function createLElement(index) {
            var elem = document.createElement('button');
            elem.setAttribute('id', 'l_'.concat(index));
            elem.setAttribute('onclick', 'lbtn(this)');
            elem.setAttribute('type', "button");
            elem.setAttribute('class', "list-group-item list-group-item-action");
            elem.setAttribute('value', index);
            elem.innerHTML = index+1;

            document.getElementById('l_group').append(elem);
        }

        function createRElement(index) {
            var elem = document.createElement('button');
            elem.setAttribute('id', 'r_'.concat(index));
            elem.setAttribute('onclick', 'rbtn(this)');
            elem.setAttribute('type', "button");
            elem.setAttribute('class', "list-group-item list-group-item-action");
            elem.setAttribute('value', index);
            elem.innerHTML = index+1;

            document.getElementById('r_group').append(elem);
        }

        function lbtn(event){
            document.getElementById('l_'.concat(event.value)).remove();
            var elem = document.createElement('button');
            elem.setAttribute('id', 'r_'.concat(event.value));
            elem.setAttribute('onclick', 'rbtn(this)');
            elem.setAttribute('type', "button");
            elem.setAttribute('class', "list-group-item list-group-item-action");
            elem.setAttribute('value', event.value);
            elem.innerHTML = event.innerText;

            document.getElementById('r_group').append(elem);
        }

        function rbtn(event) {
            document.getElementById('r_'.concat(event.value)).remove();
            var elem = document.createElement('button');
            elem.setAttribute('id', 'l_'.concat(event.value));
            elem.setAttribute('onclick', 'lbtn(this)');
            elem.setAttribute('type', "button");
            elem.setAttribute('class', "list-group-item list-group-item-action");
            elem.setAttribute('value', event.value);
            elem.innerHTML = event.innerText;

            document.getElementById('l_group').append(elem);
        }

        function autoRender(event) {
            var r = document.getElementById('r_group').children;
            var l = document.getElementById('l_group').children;

            if (r.length == l.length || r.length-l.length == 1 || r.length-l.length == -1)
            {
                return;
            } else {
                for (var i = 0; i < l.length; i++)
                {lbtn(l[i]);
                }
            }
        }

        function send(event) {
            var xhr = new XMLHttpRequest();

            xhr.open('POST', '/form/calculation', false);

            xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');

            let json = JSON.stringify({
                h1: getIndexH1(),
                h2: getIndexH2()
            });

            xhr.onloadend = function() {
                if (xhr.status == 200)
                {
                    console.log('Поиск решения задач ЛП...')
                    window.location.replace("http://localhost:5000/answer");
                }
                else
                    alert('Что-то пошло не так!');
            };

            xhr.send(json);
        }

        function getIndexH1() {
            var group = document.getElementById('l_group');

            var list = [];
            for (var i = 0; i < group.childElementCount; i++)
            {
                list.push(group.children[i].value);
            }
            return list;
        }

        function getIndexH2() {
            var group = document.getElementById('r_group');
            var list = [];
            for (var i = 0; i < group.childElementCount; i++)
            {
                list.push(group.children[i].value);
            }
            return list;
        }
    </script>

  {% endif %}
{% endblock %}