<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
  <meta charset="UTF-8">

  <title>Решение регрессионных уравнений</title>
</head>
<body>
<!-- Выпадающее меню -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">Основное меню</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/load">Загрузить исходные данные</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if not meta_data.load_matrix_id %}disabled{% endif %}" href="/matrix">Загруженная матрица</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if not meta_data.index_y %}disabled{% endif %}" href="/div">Разделить матрицу</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if not meta_data.answer == True %}disabled{% endif %}" href="/answer">Результаты решения</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if not meta_data.matrix_y_index %}disabled{% endif %}" href="/biasEstimates">Оценки критерия смещения</a>
  </li>
</ul>
<div class="py-3 px-lg-5">
<h1>Загрузите данные</h1>
<form action="" method=post enctype=multipart/form-data>
  <p><input type=file name=file>
  <input type=submit value=Загрузить>
</form>
{% if data %}
  <div style="height: 500px" class="table-responsive">
  <table class="table table-sm table-striped table-bordered">
    <thead> <!-- Column names -->
      <tr>
        <th scope="col">#</th>
        {% for item in dataLen %}
          <th scope="col">{{ item }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody> <!-- Data -->
      {% for index in dataRowLen %}
        <tr>
          <th scope="row">{{ index }}</th>
          {% for item in data[index-1] %}
            <td>{{item}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

  <br/>
  {% if not verification %}
    <div class="p-3 mb-2 bg-danger text-white">Внимание! Параметров больше, чем наблюдений. Загрузите другие данные!</div>
    <br/>
  {% else %}
  <div>Введите индекс столбца для выбора зависимой переменной.</div>
  <form action="/key" method="post">
    <input class="form-control" name="var_y" type="number" placeholder="Default input">
    <br>
    <button type="submit" class="btn btn-primary">Подготовить матрицы N1 и N2</button>
  </form>
  {% endif %}
{% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
