{% extends 'base.html' %}

{% block content %}
  <h1>Загрузите данные</h1>
  <form action="" method=post enctype=multipart/form-data>
    <p><input type=file name=file>
    <input type=submit value=Загрузить>
  </form>
  {% if data %}
    <div style="height: 500px" class="table-responsive">
      <table class="table table-sm table-striped table-bordered">
        <thead> <!-- Column names -->
          <tr>
            <th scope="col">#</th>
            {% for item in dataLen %}
              <th scope="col">{{ item }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody> <!-- Data -->
          {% for index in dataRowLen %}
            <tr>
              <th scope="row">{{ index }}</th>
              {% for item in data[index-1] %}
                <td>{{item}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <br/>
    {% if not verification %}
      <div class="p-3 mb-2 bg-danger text-white">Внимание! Параметров больше, чем наблюдений. Загрузите другие данные!</div>
      <br/>
    {% else %}
    <div>Введите индекс столбца для выбора зависимой переменной.</div>
      <form {% if meta_data.method_div_matrix_type == 'hand' %}action="/key" {% else %} action="/calculation" {% endif %} method="post">
        <input class="form-control" name="var_y" type="number" placeholder="Default input">
        <br>
        {% if meta_data.method_div_matrix_type == 'hand' %}
            <button type="submit" class="btn btn-primary">Подготовить матрицы N<sub>1</sub> и N<sub>2</sub></button>
        {% else %}
            <button type="submit" class="btn btn-primary">Получить решение задачи</button>
        {% endif %}
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
