{% extends 'base.html' %}

{% block content %}
  <form name="setParam" action="/form/set_params" method="post" onsubmit="return validForm()">
    <div class="row align-items-start">
      <div class="col">
        <p>Методы решения задачи:</p>
        <div class="form-group form-check">
          <input
              type="checkbox"
              class="form-check-input"
              name="check_MNK"
              {% if meta_data.mnk or not meta_data.file_id %}checked{% endif %}
          >
          <label class="form-check-label" for="exampleCheck1">МНК</label>
        </div>
        <div class="form-group form-check">
          <input
              type="checkbox"
              class="form-check-input"
              name="check_MNM"
              {% if meta_data.mnm or not meta_data.file_id %}checked{% endif %}
          >
          <label class="form-check-label" for="exampleCheck1">МНМ</label>
        </div>
        <div class="form-group form-check">
          <input
              type="checkbox"
              class="form-check-input"
              name="check_MAO"
              {% if meta_data.mao or not meta_data.file_id %}checked{% endif %}
          >
          <label class="form-check-label" for="exampleCheck1">МАО</label>
        </div>
        <div class="form-group form-check">
          <input
              type="checkbox"
              class="form-check-input"
              name="check_MCO"
              {% if meta_data.mco or not meta_data.file_id %}checked{% endif %}
          >
          <label class="form-check-label" for="exampleCheck1">МСО</label>
        </div>

        <br/>
        <div class="form-group form-check">
          <input
              type="checkbox"
              class="form-check-input"
              name="free_chlen"
              {% if meta_data %}{% if meta_data.freeChlen == True %}checked="true"{% endif %}{% endif %}
          >
          <label class="form-check-label" for="exampleCheck1">Использовать свободный член?</label>
        </div>
      </div>

      <div class="col">
        <p>Методы разбиения подматриц для МСО:</p>
        <div class="form-check">
          <input
                  class="form-check-input"
                  type="radio"
                  name="method"
                  value="hand"
                  id="flexRadioDefault1"
                  onchange="isCheckedMNK()"
                  {% if meta_data.method_div_matrix_type == 'None' or meta_data.method_div_matrix_type == 'hand' %}checked{% endif %}
          >
          <label class="form-check-label" for="flexRadioDefault1">
            Ручной выбор
          </label>
        </div>
        <div class="form-check">
          <input
                  class="form-check-input"
                  type="radio"
                  name="method"
                  value="mnk"
                  id="flexRadioDefault2"
                  onchange="isCheckedMNK()"
                  {% if meta_data.method_div_matrix_type == 'mnk' %}checked{% endif %}
          >
          <label class="form-check-label" for="flexRadioDefault2">
            МНК
          </label>
        </div>
        <div class="form-check">
          <input
                  class="form-check-input"
                  type="radio"
                  name="method"
                  value="mnm"
                  id="flexRadioDefault3"
                  onchange="isCheckedMNK()"
                  {% if meta_data.method_div_matrix_type == 'mnm' %}checked{% endif %}
          >
          <label class="form-check-label" for="flexRadioDefault3">
            МНМ
          </label>
        </div>
        <div class="input-group w-50 p-3" id="input-delta" hidden>
          <span class="input-group-text" id="inputGroup-sizing-default">
            δ =
          </span>
          <input
              type="number"
              step="0.00000000001"
              class="form-control"
              name="delta"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
          >
        </div>
      </div>

      <div class="col">
        <p>Режим вычислений:</p>
        <div class="form-check">
          <input
              class="form-check-input"
              type="radio"
              name="mode"
              value="STANDARD"
              id="flexRadioDefault1"
              {% if meta_data.mode == 'STANDARD' or not meta_data.mode %}checked{% endif %}>
          <label class="form-check-label" for="flexRadioDefault1">
            Стандартный
          </label>
        </div>
        <div class="form-check">
          <input
              class="form-check-input"
              type="radio"
              name="mode"
              value="PREDICT"
              id="flexRadioDefault2"
              {% if meta_data.mode == 'PREDICT'%}checked{% endif %}
          >
          <label class="form-check-label" for="flexRadioDefault2">
            Прогнозирование
          </label>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Загрузить исходные данные</button>
  </form>

  <div
      class="modal fade"
      id="DialogNoValidData"
      data-backdrop="static"
      tabindex="-1"
      role="dialog"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Необходимо выбрать хотя бы один метод решения задачи.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    function validForm()
    {
        var form = document.forms["setParam"]

        if (form['check_MNK'].checked
            || form['check_MNM'].checked
            || form['check_MAO'].checked
            || form['check_MCO'].checked)
        {
            return true;
        }
        options = {
            backdrop: 'static',
            keyboard: true,
            focus: true,
            show: true
        }

        $('#DialogNoValidData').modal(options)
        return false

    }

    function isCheckedMNK() {
        var radio = document.getElementById('flexRadioDefault2')

        console.log(radio.checked)
        if (radio.checked)
        {
            document.getElementById('input-delta').hidden = false
        } else {
            document.getElementById('input-delta').hidden = true
        }
    }
  </script>
{% endblock %}

