{% extends 'base.html' %}

{% block content %}
  <a class="btn btn-primary" href="/matrix" role="button">Загруженная матрица</a>
  <a class="btn btn-primary" href="/workMatrix" role="button">Рабочая матрица</a>
  <a class="btn btn-primary" href="/editWorkMatrix" role="button">Редактировать рабочую матрицу</a>
  {% if data %}
    {% if load %}
      <div>Загруженная матрица</div>
    {% else %}
      <div>Рабочая матрица</div>
    {% endif %}
    <div style="height: 500px" class="table-responsive">
      <table class="table table-sm table-striped table-bordered">
        <thead> <!-- Column names -->
          <tr>
            <th scope="col">#</th>
            {% for item in dataLen %}
              <th scope="col">{{ item }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody> <!-- Data -->
          {% for index in dataRowLen %}
            <tr>
              <th scope="row">{{ index }}</th>
              {% for item in data[index-1] %}
                <td>{{item}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {% if edit %}
    <br/>
    <form action="/editWorkMatrix" method="post">
      <div>Выберите индексы столбцов для рабочей матрицы.</div>
      <div class="btn-group mr-2" role="group" aria-label="First group">
        {% for item in dataLen %}
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="check_{{ item-1 }}" checked>
            <label class="form-check-label" for="exampleCheck1">{{item}}&#8195;</label>
          </div>
        {% endfor %}
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Применить</button>
    </form>
  {% else %}
    <br/>
    <div>Введите индекс столбца для выбора зависимой переменной.</div>
    <form {% if meta_data.method_div_matrix_type == 'hand' %} action="/key" {% else %} action="/calculation" {% endif %} method="post">
      <input class="form-control" name="var_y" type="number" placeholder="Default input">
      <br>
      {% if meta_data.method_div_matrix_type == 'hand' %}
        <button type="submit" class="btn btn-primary">Подготовить матрицы N<sub>1</sub> и N<sub>2</sub></button>
      {% else %}
        <button type="submit" class="btn btn-primary">Получить решение задачи</button>
      {% endif %}
    </form>
  {% endif %}

{% endblock %}
