{% extends 'base.html' %}
{% from 'macros.html' import render_table_load_data, render_table_work_data %}

{% block content %}
  <a class="btn btn-primary" href="/matrix" role="button">Загруженная матрица</a>
  <a class="btn btn-primary" href="/workMatrix" role="button">Рабочая матрица</a>
  <a class="btn btn-primary" href="/editWorkMatrix" role="button">Редактировать рабочую матрицу</a>
  {% if meta_data.load_data %}
    {% if meta_data.show_matrix_mode == 'LOAD' or meta_data.show_matrix_mode == 'EDIT' %}
      <div>Загруженная матрица</div>
      {{ render_table_load_data(meta_data) }}
    {% else %}
      <div>Рабочая матрица</div>
      {{ render_table_work_data(meta_data) }}
    {% endif %}

  {% endif %}

  {% if meta_data.show_matrix_mode == 'EDIT' %}
    <br/>
    <form action="/form/edit_work_matrix" method="post">
      <div>Выберите индексы столбцов для рабочей матрицы.</div>
      <div class="btn-group mr-2" role="group" aria-label="First group">
        {% for item in meta_data.get_load_data_len() %}
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="check_{{ item-1 }}" checked>
            <label class="form-check-label" for="exampleCheck1">{{item}}&#8195;</label>
          </div>
        {% endfor %}
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Применить</button>
    </form>
  {% else %}
    <br/>
    <div>Введите индекс столбца для выбора зависимой переменной.</div>
    <form {% if meta_data.method_div_matrix_type == 'hand' %} action="/form/set_var_y" {% else %} action="/form/calculation_auto_div" {% endif %} method="post">
      <input class="form-control" name="var_y" type="number" placeholder="Default input">
      <br>
      {% if meta_data.method_div_matrix_type == 'hand' %}
        <button type="submit" class="btn btn-primary">Подготовить матрицы N<sub>1</sub> и N<sub>2</sub></button>
      {% else %}
        <button type="submit" class="btn btn-primary">Получить решение задачи</button>
      {% endif %}
    </form>
  {% endif %}

{% endblock %}
